@model List<TTN_WebsiteRaoVat.Models.VatPham>
<script src="/Content/js/tabs.js"></script>
<script src="/Scripts/Ajax.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            var elem = $('#container ul');
            $('#viewcontrols a').on('click', function (e) {
                if ($(this).hasClass('gridview')) {
                    elem.fadeOut(1000, function () {
                        $('#container ul').removeClass('list').addClass('grid');
                        $('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
                        $('#viewcontrols .gridview').addClass('active');
                        $('#viewcontrols .listview').removeClass('active');
                        elem.fadeIn(1000);
                    });
                }
                else if ($(this).hasClass('listview')) {
                    elem.fadeOut(1000, function () {
                        $('#container ul').removeClass('grid').addClass('list');
                        $('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
                        $('#viewcontrols .gridview').removeClass('active');
                        $('#viewcontrols .listview').addClass('active');
                        elem.fadeIn(1000);
                    });
                }
            });
        });
</script>
<!-- Products -->
<div class="agileinfo-ads-display col-md-9">
    <div class="wrapper">
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                        <span class="text">Tất cả</span>
                    </a>
                </li>
                <li role="presentation" class="next">
                    <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">
                        <span class="text">Cá nhân</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#samsa" role="tab" id="samsa-tab" data-toggle="tab" aria-controls="samsa">
                        <span class="text">Bán chuyên</span>
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div>
                        <div id="container">
                            <div class="view-controls-list" id="viewcontrols">
                                <label>Chế độ xem:</label>
                                <a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
                                <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                            </div>
                            <div class="sort">
                                <div class="sort-by">

                                    <label>Sắp xếp theo : </label>
                                    @if (ViewBag.TieuChi == 0)
                                    {
                                        <select id="TieuChi">
                                            <option value="0">Mới nhất</option>
                                            <option value="1">Giá tăng dần</option>
                                            <option value="2">Giá giảm dần</option>
                                        </select>
                                    }
                                    else if (ViewBag.TieuChi == 1)
                                    {
                                        <select id="TieuChi">
                                            <option value="1">Giá tăng dần</option>
                                            <option value="0">Mới nhất</option>
                                            <option value="2">Giá giảm dần</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select id="TieuChi">
                                            <option value="2">Giá giảm dần</option>
                                            <option value="0">Mới nhất</option>
                                            <option value="1">Giá tăng dần;</option>
                                        </select>
                                    }
                                </div>

                                <a href="#@ViewBag.MaDM" id="SapXep" data-madm="@ViewBag.MaDM">Áp dụng</a>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="list">
                                @foreach (var item in Model)
                                {
                                    <a href="/ChiTietVatPham/@item.MaVP">
                                        <li>

                                            <img src="/Content/uploads/@item.LinkHinhAnh[0]" title="" alt="" />
                                            <section class="list-left">
                                                @if (item.TenVP.Length < 22)
                                                {
                                                    <h5 class="title">@item.TenVP</h5>
                                                }
                                                else
                                                {
                                                    string ten = item.TenVP.Substring(0, 17) + "...";
                                                    <h5 class="title">@ten</h5>
                                                }
                                                <span class="adprice">@String.Format("{0:0,0 vnđ}", item.GiaTien)</span>
                                                <p class="catpath">@item.TheLoai</p>
                                            </section>
                                            <section class="list-right">
                                                <span class="date">@item.NgayDang</span>
                                                <span class="cityname">@item.ThanhPho</span>
                                            </section>
                                            <div class="clearfix"></div>
                                        </li>
                                    </a>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                    <div>
                        <div id="container">
                            <div class="view-controls-list" id="viewcontrols">
                                <label>Chế độ xem :</label>
                                <a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
                                <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                            </div>
                            <div class="sort">
                                <div class="sort-by">
                                    <label>Sắp xếp theo : </label>
                                    @if (ViewBag.TieuChi == 0)
                                    {
                                        <select id="TieuChi">
                                            <option value="0">Mới nhất</option>
                                            <option value="1">Giá tăng dần</option>
                                            <option value="2">Giá giảm dần</option>
                                        </select>
                                    }
                                    else if (ViewBag.TieuChi == 1)
                                    {
                                        <select id="TieuChi">
                                            <option value="1">Giá tăng dần</option>
                                            <option value="0">Mới nhất</option>
                                            <option value="2">Giá giảm dần</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select id="TieuChi">
                                            <option value="2">Giá giảm dần</option>
                                            <option value="0">Mới nhất</option>
                                            <option value="1">Giá tăng dần;</option>
                                        </select>
                                    }
                                </div>

                                <a href="#@ViewBag.MaDM" id="SapXep" data-madm="@ViewBag.MaDM">Áp dụng</a>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="list">
                                @foreach (var item in Model)
                                {
                                    if (item.LoaiTK == 0)
                                    {
                                        <a href="/ChiTietVatPham/@item.MaVP">
                                            <li>

                                                <img src="/Content/uploads/@item.LinkHinhAnh[0]" title="" alt="" />
                                                <section class="list-left">
                                                    @if (item.TenVP.Length < 22)
                                                    {
                                                        <h5 class="title">@item.TenVP</h5>
                                                    }
                                                    else
                                                    {
                                                        string ten = item.TenVP.Substring(0, 17) + "...";
                                                        <h5 class="title">@ten</h5>
                                                    }
                                                    <span class="adprice">@String.Format("{0:0,0 vnđ}", item.GiaTien)</span>
                                                    <p class="catpath">@item.TheLoai</p>
                                                </section>
                                                <section class="list-right">
                                                    <span class="date">@item.NgayDang</span>
                                                    <span class="cityname">@item.ThanhPho</span>
                                                </section>
                                                <div class="clearfix"></div>
                                            </li>
                                        </a>
                                    }

                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="samsa" aria-labelledby="samsa-tab">
                    <div>
                        <div id="container">
                            <div class="view-controls-list" id="viewcontrols">
                                <label>Chế độ xem :</label>
                                <a class="gridview"><i class="glyphicon glyphicon-th"></i></a>
                                <a class="listview active"><i class="glyphicon glyphicon-th-list"></i></a>
                            </div>
                            <div class="sort">
                                <div class="sort-by">

                                    <label>Sắp xếp theo : </label>
                                    @if (ViewBag.TieuChi == 0)
                                    {
                                        <select id="TieuChi">
                                            <option value="0">Mới nhất</option>
                                            <option value="1">Giá tăng dần</option>
                                            <option value="2">Giá giảm dần</option>
                                        </select>
                                    }
                                    else if (ViewBag.TieuChi == 1)
                                    {
                                        <select id="TieuChi">
                                            <option value="1">Giá tăng dần</option>
                                            <option value="0">Mới nhất</option>
                                            <option value="2">Giá giảm dần</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select id="TieuChi">
                                            <option value="2">Giá giảm dần</option>
                                            <option value="0">Mới nhất</option>
                                            <option value="1">Giá tăng dần;</option>
                                        </select>
                                    }
                                </div>

                                <a href="#@ViewBag.MaDM" id="SapXep" data-madm="@ViewBag.MaDM">Áp dụng</a>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="list">
                                @foreach (var item in Model)
                                {
                                    if (item.LoaiTK == 1)
                                    {
                                        <a href="/ChiTietVatPham/@item.MaVP">
                                            <li>

                                                <img src="/Content/uploads/@item.LinkHinhAnh[0]" title="" alt="" />
                                                <section class="list-left">
                                                    @if (item.TenVP.Length < 22)
                                                    {
                                                        <h5 class="title">@item.TenVP</h5>
                                                    }
                                                    else
                                                    {
                                                        string ten = item.TenVP.Substring(0, 17) + "...";
                                                        <h5 class="title">@ten</h5>
                                                    }
                                                    <span class="adprice">@String.Format("{0:0,0 vnđ}", item.GiaTien)</span>
                                                    <p class="catpath">@item.TheLoai</p>
                                                </section>
                                                <section class="list-right">
                                                    <span class="date">@item.NgayDang</span>
                                                    <span class="cityname">@item.ThanhPho</span>
                                                </section>
                                                <div class="clearfix"></div>
                                            </li>
                                        </a>
                                    }

                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

